#faq
.sub-footer
  .row.text-center
    .small-12.medium-10.large-12.small-center.columns
      h1 Frequently Asked Questions

      .row
        .small-12.medium-6.columns
          dl
            dt This is the question text here dude
            dd.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Veniam dolor maxime fugiat commodi deserunt vero rem animi
              praesentium voluptatem obcaecati eum minima sunt natus, error
              dolore velit recusandae quae nihil.
        .small-12.medium-6.columns
          dl
            dt This is the question text here dude
            dd.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Veniam dolor maxime fugiat commodi deserunt vero rem animi
              praesentium voluptatem obcaecati eum minima sunt natus, error
              dolore velit recusandae quae nihil.
        .small-12.medium-6.columns
          dl
            dt This is the question text here dude
            dd.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Veniam dolor maxime fugiat commodi deserunt vero rem animi
              praesentium voluptatem obcaecati eum minima sunt natus, error
              dolore velit recusandae quae nihil.
        .small-12.medium-6.columns
          dl
            dt This is the question text here dude
            dd.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Veniam dolor maxime fugiat commodi deserunt vero rem animi
              praesentium voluptatem obcaecati eum minima sunt natus, error
              dolore velit recusandae quae nihil.
