#support
.sub-footer
  .row
    .small-12.medium-4.columns
      h3 Contribute
      p.
        Adorable Avatars is an open-source project available for
        contributions on
        <a href="https://github.com/adorableio/adorable-avatars">Github</a>.
    .small-12.medium-4.columns
      h3 Support
      p.
        Please submit your questions and feedback to us through
        <a href="http://twitter.com/adorableio">Twitter</a> or
        <a href="https://github.com/adorableio/adorable-avatars/issues">Github issues</a>.
    .small-12.medium-4.columns
      h3 License
      p.
        Adorable Avatars is released under the terms of the
        <a href="https://raw.githubusercontent.com/adorableio/adorable-avatars/master/LICENSE">MIT License</a>.
