doctype html
html
head
  title adorable-avatars-site
  //- link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:400,700' rel='stylesheet')
  link(href="/assets/css/main.css" rel="stylesheet" )

  //- link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/zenburn.min.css")

body
  header
    .row
      .small-12.text-center.columns
        h1 Adorable Avatars
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nihil tempora maxime quam sed eveniet magni, earum magnam eos consequatur. Asperiores voluptatum beatae quo, sed, officiis porro totam esse ullam.
        a.button(href="#demo") Try it out

  #demo
  section
    .row
      .small-12.medium-8.small-center.columns
        .row
          .small-12.text-center.columns
            h2.title Zis is zee demo!
            .input-container
              label Size
              input#sizex.edit(type="range" value='100' min='40' max='400' data-for='.size-value')
            .input-container
              label Name
              input#name.edit(type="text" data-for='.name-value' placeholder='enter text' value="abott@adorable" maxlength='32')
            .input-container.checkbox
              input#png.edit(type="checkbox" data-for='.png-value' checked='true')
              label.inline(for='png') .png

    .row.code-row
      .code-wrapper
        code
          .line-numbers
            .number 1
          .input-wrapper
            span.fade &lt;img src="http://api.adorable.io/avatar/
            span.size-value 100
            span x
            span.size-value 100
            span.fade /
            span.name-value abott@adorable
            span.png-value .png
            span.fade " /&gt;

    .row
      .small-12.medium-8.small-center.columns
        .small-12.columns
          .user-card.small-12.small-center.columns
            .container
              img#demo-image(src="http://api.adorable.io/avatar/300x300/abott@adorable.png")
              h2.name Sir Dude Awesome
              p.position Creative Hugger
              hr
              .row
                .small-4.columns
                  h3 Followers
                  p 417
                .small-4.columns
                  h3 Following
                  p 234
                .small-4.columns
                  h3 High fives
                  p 1240

  script(src="/vendor/jquery/dist/jquery.min.js")
  script(src="/assets/js/app.js")
