#top
header
  .row
    .small-12.text-center.columns
      h1 Adorable Avatars
  .row
    .small-12.medium-8.small-center.text-center.columns
      p Avatars are earthly creatures that serve as proxies for gods. In the web world, they just represent people, and they're usually small images.
  .row
    .small-12.text-center.columns
      a.button.lame(href="#what") What are you talking about?
      a.button(href="#demo") Try it out
      small.github-link
        a(href="https://github.com/adorableio/adorable-avatars") Check it out on Github
