#what
section
  .sub-section
    .row
      .small-12.text-center.columns
        h1 What's the Adorable Avatars service?
    .row
      .small-12.medium-8.small-center.text-center.columns
        p.subtitle.
          Adorable Avatars is an avatar placeholder service for web
          developers and designers.
  .row
    .small-12.medium-8.small-center.columns
      h2 Wait, how is Adorable Avatars different?
      p.
        While other placeholder services provide purely random images,
        Adorable Avatars renders a unique image based on the URL. Our service
        takes your request <small>(with your identifier)</small> and procedurally generates a
        <b>consistent</b> avatar, just for you.

  .row
    .small-12.medium-8.small-center.columns
      h2 How would I use it?
      p.
        The simplest way is to create an image tag that points to our service
        <small>(specifying your identifier)</small>, but you can also browse to your avatar
        URL and save the image to your computer.
      p.
        Already have avatars implemented in your application? Use Adorable
        Avatars as a fallback and get rid of those boring gray silhouettes!

  .row
    .small-12.medium-8.small-center.columns
      h2 Why would I use it?
      p.
        What if you're developing a feature like member lists or profiles,
        but you don't have any images to use? Just give us your user's
        identifier and we'll give you their avatar image.

  .row
    .small-12.medium-8.small-center.columns
      h3 That's it! Simple, right?

  .row
    .small-12.medium-8.small-center.text-center.columns
      a.button(href="#demo") I just want to check it out!
