#what
section
  .sub-section
    .row
      .small-12.text-center.columns
        h1 What's the Adorable Avatars service?
    .row
      .small-12.medium-8.small-center.text-center.columns
        p.subtitle It's an interface to a better universe. With a simple route, your face will be filled with consistently-linked avatar glory!
  .row
    .small-12.medium-8.small-center.columns
      h2 Wait, how is Adorable Avatars different?
      p Whenever you make a request to Adorable Avatars, using an identifier like <code>abott@adorable.io</code>, we give you an image for you to use on your page. Most importantly, it's the same image! Every. Single. Time.

    //- .small-12.medium-4.columns
    //-   img(src="http://api.adorable.io/avatar/400x400/thing1")

  .row
    //- .small-12.medium-4.columns
    //-   img(src="http://api.adorable.io/avatar/400x400/thing2")
    .small-12.medium-8.small-center.columns
      h2 Why would I use it?
      p What if you're developing a feature like member lists or profiles, but you don't have any images to use? Just give us your user's identifier and we'll give you their avatar image! That's it.
      p Already have avatars implemented in your application? Use Adorable Avatars as a fallback and get rid of those gray silhouettes!

  .row
    .small-12.medium-8.small-center.text-center.columns
      a.button(href="#demo") I just want to check it out!
